
body, td { font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: #333; }


.FlashTimeline .splHeader-primary {
    _background-image: none;
}

.FlashTimeline {
    _background-image:none;
}

.DisableRequiredFieldsButton {
    _background-image:none;
}

.splView-flashtimeline .ResultsHeader .splHeader-primary {
    _background-image:none;
    border-color: #a4a4a4;
    padding-top: 5px;
}

.splView-flashtimeline .ResultsHeader .splHeader-primary h2 {
    background-color: #fff;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
}

/*-- linear and log scale buttons --*/
div.FlashTimeline a.linLogToggle {
    color:#000;
}

div.FlashTimeline a.linLogToggle:focus {
   background-color: #ccc;
}

div.FlashTimeline a.linLogToggle .splIcon-triangle-4-s {
    background-position: -67px -367px;
}


/**********************************
Timeline and charts
***********************************/

div.FlashTimeline,
div.FlashTimeline .splHeader {
    background-color: #fff;
    
    /* Color of the chart lines */
    border-left-color: #000;
   
    /* Color of the columns */
    border-right-color: #73a550;
   
    color: #000;
}

div.FlashTimeline a.splIconicLinkDisabled {
   color: #999;
}

div.FlashTimeline .splHeader {
/*  background-image: none;*/
    border-top-width: 0;
}


div.FlashTimeline a.hideshow .splIconicLinkIcon {
    background-position: -26px -400px;
}

div.FlashTimeline .minimized a.hideshow .splIconicLinkIcon {
    background-position: -26px -420px;
}


.TimelineContainer,
.FlashWrapperContainer {
    padding-bottom: 7px;
    _padding-bottom:0;
} 

.FlashTimeline .zoomIn .splIconicLinkIcon {
    background-position: -26px -480px;
}

.FlashTimeline .zoomOut .splIconicLinkIcon {
    background-position: -26px -500px;
}

.FlashTimeline .selectAll .splIconicLinkIcon {
    background-position: -26px -520px;
}
.FlashTimeline .splIconicLinkDisabled.zoomIn .splIconicLinkIcon {
    background-position: -13px -480px;
}

.FlashTimeline .splIconicLinkDisabled.zoomOut .splIconicLinkIcon {
    background-position: -13px -500px;
}

.FlashTimeline .splIconicLinkDisabled.selectAll .splIconicLinkIcon {
    background-position: -13px -520px;
}

div.TimelineContainer p{margin:0}div.TimelineContainer object{outline:none}div.TimelineContainer{position:relative;*position:static}div.TimelineContainer p.error a{float:none!important;display:inline!important;color:#FFF;text-decoration:underline;margin-left:8px}
div.TimelineContainer object{outline:none}div.TimelineContainer{position:relative;*position:static}div.TimelineContainer p.error a{float:none!important;display:inline!important;color:#FFF;text-decoration:underline;margin-left:8px}
div.TimelineContainer{position:relative;*position:static}div.TimelineContainer p.error a{float:none!important;display:inline!important;color:#FFF;text-decoration:underline;margin-left:8px}

div.TimelineContainer p.error a{float:none!important;display:inline!important;color:#FFF;text-decoration:underline;margin-left:8px}

div.FlashTimeline .messageContainer{display:none;position:absolute;z-index:20;width:100%}
div.FlashTimeline .label{cursor:default}
div.FlashTimeline .TimeAxisLabels .label{margin-left:5px;margin-right:5px;margin-top:4px;margin-bottom:4px}
div.FlashTimeline .NumericAxisLabels .label{margin-left:5px;margin-right:5px;margin-top:3px;margin-bottom:3px}
div.FlashTimeline .ClickDragRangeMarker .label{color:#000;margin-left:7px;margin-right:7px}
div.FlashTimeline .Tooltip .label{color:#FFF;margin-left:7px;margin-right:7px;margin-top:4px;margin-bottom:4px}
div.FlashTimeline{padding:0;border-left-style:hidden}
div.FlashTimeline a.linLogToggle{display:block;float:right;position:relative;margin-right:20px;outline-style:none;padding:0 5px 0 10px}
div.FlashTimeline span.linLogLabel{padding-right:10px}
div.FlashTimeline a.linLogToggle .splIcon{position:absolute;top:5px;right:5px}
div.FlashTimeline a.logScale span,div.FlashTimeline a.linScale span{margin-top:4px}
div.FlashTimeline .bucketSize{float:right;margin-right:10px}
div.FlashTimeline .minimized a,div.FlashTimeline .minimized a.linLogToggle,div.FlashTimeline .minimized span.bucketSize,div.FlashTimeline .noData a.linLogToggle,div.FlashTimeline .noData span.bucketSize,div.FlashTimeline .noData h2.timelineScale{display:none}div.FlashTimeline .minimized a.hideshow{display:block}
div.FlashTimeline a.heading span.splIcon-triangle{float:left;margin:5px 2px 0 0}
div.FlashTimeline div.minimized span.splIcon-triangle{background-position:-67px -407px}
div.FlashTimeline a.heading:hover span.splIcon-triangle{background-position:-87px -367px}
div.FlashTimeline div.minimized a.heading:hover span.splIcon-triangle{background-position:-87px -407px}
div.FlashTimeline a.zoomOut{margin-left:5px}
div.FlashTimeline .controlLinks{padding:5px 0 5px 10px;line-height:17px;height:17px}

